<a href="https://colab.research.google.com/github/pankajbagari/new_data_check/blob/main/pankajbagari_CA_1_10625845.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,OrdinalEncoder
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import cross_val_score
from xgboost import XGBRegressor, plot_importance
from sklearn.model_selection import GridSearchCV
import numpy as np

In [ ]:
# Read the data
X_full = pd.read_csv('/content/train.csv', index_col='Id')
X_test = pd.read_csv('/content/test.csv', index_col='Id')

In [ ]:
X_full.shape

(1460, 80)

In [ ]:
X_full.head(2)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500

In [ ]:
basic_df = pd.DataFrame()
basic_df['Null_values'] =  X_full.isnull().sum()
basic_df['Unique_values'] =  X_full.nunique()

In [ ]:
basic_df.sort_values(by=['Null_values','Unique_values'],ascending=False)

             Null_values  Unique_values
PoolQC              1453              3
MiscFeature         1406              4
Alley               1369              2
Fence               1179              4
FireplaceQu          690              5
...                  ...            ...
HalfBath               0              3
PavedDrive             0              3
Street                 0              2
Utilities              0              2
CentralAir             0              2

[80 rows x 2 columns]

In [ ]:
X_full.dtypes.value_counts()

object     43
int64      34
float64     3
dtype: int64